@import "colors";
@import "~normalize.css";
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500');

body {
  background-image: url("../img/background.jpg");
  font-family: 'Montserrat', sans-serif;

}

.custom__filter {
  background: rgba(255, 255, 255, .3);
  position: absolute;
  filter: blur(2px);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.game {
  display: grid;
  grid-template-columns: .5fr 2fr .5fr;
  grid-auto-rows: 70vh;
  margin: 10vh;
  min-width: 1200px;
}

.game__player {
  display: grid;
  grid-column: 2/3;
  grid-template-columns: 3fr 1fr 3fr;
}

%game__player-panel {
  background-color: $mainPanelColor;
  grid-auto-rows: 200px;
  padding-top: 20px;
  opacity: .6;
  transition: opacity .6s ease;

  &.active {
    background: $mainPanelColor;
    opacity: 1;
    transition: opacity .6s ease;
  }
}

%game__control-btn {
  width: 105%;
  margin-left: -2.5%;
  z-index: 1;
  position: absolute;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: rgba(82, 82, 82, .8);
  color: white;

  &:hover {
    background-color: rgba(82, 82, 82, 1);
    transition: .2s ease;
  }

  &.disabled {
    background-color: rgba(82, 82, 82, .4);
  }
}

%game__control-dice {
  height: 150px;
  width: 150px;
  margin: 0 auto;
  display: flex;
}

.game__player-panel--0 {
  @extend %game__player-panel;
  grid-column: 1/2;
  filter: drop-shadow(4px 8px 8px #b0b0b0);
}

.game__player-panel--1 {
  @extend %game__player-panel;
  grid-column: 3/4;
  filter: drop-shadow(-4px 8px 8px #b0b0b0);
}

.game__control {
  background-color: rgba(255, 255, 255, .2);
  position: relative;
  padding-top: 60px;
}

.game__player-header {
  height: 100px;
}

.game__player-name {
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 42px;
  color: #565656;

  &.active {
    color: $baseColor;
  }
}

.game__player-total {
  text-align: center;
  font-size: 180px;
  font-weight: 300;
  margin: 0;
  color: #3f3f3f;
}

.game__player-current-label {
  text-align: center;
  text-transform: uppercase;
  color: #3f3f3f;
}

%game__player-current {
  text-align: center;
  font-size: 68px;
  font-weight: 400;
  color: #3f3f3f;
  margin-bottom: 0;
}

.game__player-current--0 {
  @extend %game__player-current;
}

.game__player-current--1 {
  @extend %game__player-current;
}

.game__control-btn-new {
  @extend %game__control-btn;
  bottom: 10px;
}

.game__control-btn-roll {
  @extend %game__control-btn;
  bottom: 49px;
}

.game__control-btn-hold {
  @extend %game__control-btn;
  bottom: 88px;
}

.game__control-dice--0 {
  @extend %game__control-dice;
}

.game__control-dice--1 {
  @extend %game__control-dice;
}

.game__control-goal {
  position: absolute;
  top: -60px;
  left: -1em;
}

.game__control-goal-input {
  padding: 1em;
}